.App {
  text-align: center;
}
.chat-message {
  background-color:blanchedalmond;
  margin:2 em 25 em;
  padding: 2em;
  max-height:500px;
  overflow-y: auto;
  border-radius:25px;
  color: black;
}
.message-right{
  background:#91fbff;
  border-radius:30px;
  padding: 0.5em 1 em ;
  margin: 1em;
}

.message-left{
  background:aliceblue;
  border-radius:30px;
  padding: 0.5 em 1 em ;
  margin: 1em;
}

.message-text{
  font-size:18px;
}
.message-icon{
  font-size:22px;
  margin: 0.25px;
}